<ion-view>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="goToSearch()">
            Button to go to search
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-75">
                        AAPL
                    </div>
                    <div class="col">
                        118.56
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>