<ion-view>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="goToSearch()">
            Button to go to search
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card" ng-repeat="s in stockData">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-75 stock-symbol">
                        {{ s.name }}
                    </div>
                    <div class="col">
                        {{ s.value }}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>