<ion-view>
    <ion-content>        
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="input.searchText" placeholder="Search" ng-change="executeSearch()">
            </label>
        </div>

        <div class="list" ng-show="input.searchText.length > 0">
            <div class="item item-button-right">
                {{ results.name }}
                <button class="button button-positive" ng-click="blah()">
                    <i class="icon ion-ios-plus-outline"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>